@font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
body{
    background-color: #212121;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383838;
}
  
li {
    float: left;
}
  
li a{
    font-family: "JetBrainsMono";
    font-size: 20;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #1a1a1a;
  }

img.large{
    height: 100%;
    margin: 0;
    padding: 0;
}

img.large {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
div.bar {
    background-color: #9F9F9F;
    width: 1500px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 80px;
 	margin-bottom: 80px;
 	margin-right: 20px;
 	
  }
div.sidebyside {
    width:100%;
    overflow:auto;
  }
div.sidebyside div {
    width:50%;  
    float:left;
  }
div.sidebyside, div, h2 {
    font-size: 30px;
    color: white;
    border-left: 5px black;
    padding-left: 10px;
}
div.sidebyside, div, h2  p{
    color: white;
    font-size: 15px;
}
div.sidebyside, div, h2, div.SignUp {
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 8px;
 	margin-bottom: 40px;
 	margin-right: 20px;
 	
  }