.pokemon{
    color: pink;
}
.box{
    height: 200px;
    width: 800px;
    padding: 25px;
    margin: 50px;
    border: 20px solid pink;
}
h1{
    color: purple;
    background-color: beige;
}
h2{
    color: pink;
}
html{
    background-color: rgb(231, 231, 208);
}